footer {
    background-color: #EA4947;
    width: 100%;
    padding: 30px;
    color: #fff;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

footer h2 {
    margin-bottom: 10px;
}

footer ul li {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 17px;
}

#site a {
    color: white;
}