header {
    height: 70px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo{
    padding: 5px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px 15px 15px 0;
}

#logo span {
    color: #EA4947;
}

#links {
    font-size: 18px;
    display: flex;
    gap: 40px;
    text-transform: uppercase;
}

#links a {
    color: #fff;
    transition: .4s;
}

#links a:hover {
    color: #EA4947;
}