* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    min-height: 100vh;
    background: #333333 url("./assets/background.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}